<div class="container-himu py-5">
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4">Book Watch List</h1>
      <p>Keep a track of all the cool books to read</p>
    </div>
  </div>
  <div class="row text-center text-white mx-auto">
    <div class="col-lg-8 mx-auto ">
      <a routerLink="/" class="btn btn-danger mx-3" role="button">
        Home
      </a>
      <a routerLink="/item/add" class="btn btn-danger mx-3" role="button">
        Add A Book
      </a>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-lg-8 mx-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
